<div id="main">
    <div>
        <h3>Modiry project</h3>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                <form action="/projects/update/{{project.projectID}}" method="post">
                <fieldset>
                <label for="projName">Project name: </label>
                <input type="text" name="projName" id="projName" value="{{project.projectName}}" required="required">
                <br/>
                <label for="projYear">Project Year: </label>
                <input type="number" name="projYear" id="projYear" value="{{project.projectYear}}" required="required">
                <br/>
                <label for="projDescription">Project Description:</label>
                <textarea name="projDescription" id="projDescription" cols="30" rows="10" required="required">{{project.projectDescription}}</textarea>
                <br/>

                </fieldset>
                <input type="submit" value="Modify project">
                </form>
                {{else}}
                <p>You must be an administrator to add a new project</p>
                {{/if}}
            {{else}}
                <p>you must be logged in to modify a project <br/>
                Go to the <a href="/login">login</a> page.</p>
            {{/if}}
        </div>
    </div>
</div>