<div id="main">
    <div>
        <h1>Project Information</h1>
        <div>
            <h3>{{project.projectName}}</h3>
            <p><strong>Year:</strong> {{project.projectYear}}</p>
            <p>Description: {{project.projectDescription}} </p>

            <h4>Skills Required:</h4>
            <ul>
                {{#each skills}}
                <li> 
                    {{skillName}}, Type of skill: {{skillType}}, Description of skill: {{skillDescription}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>